body{
    margin: 0;
    padding: 0;
    text-align: center;
}
.waiquan{
    display: flex;
    justify-content: center;
}
#wanjia{
    font-size: 25px;
}
img{
    border: solid 5px #ccc;
    margin: 10px;
}
#diannao{
    font-size: 25px;
}
#anniu{
    margin-top: 10px;
}
input{
    width: 80px;
    border-radius: 10px;
}
#span{
    font-size: 40px;
}